# Futbot Discord application
FUTBOT_TOKEN=
FUTBOT_ID=
GUILD_ID=268737069939949569

# Database
DB_USER=
DB_PASS=
DB_CONNECTION_TIMEOUT_MS=15000
DB_REQUEST_TIMEOUT_MS=30000
DB_POOL_MAX=10
DB_POOL_MIN=0
DB_POOL_IDLE_TIMEOUT_MS=30000
COMPETITIVE_DB_SCHEMA=rocci121_toby
